<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/dist/css/template.min.css?v=20180925142313" rel="stylesheet" media="screen">
    <link href="/css/login.css" rel="stylesheet" media="screen">
    <title>登陆页面</title>
</head>
<body>
<div class="loginpage">
    <div class="modal">
        <div class="modal-dialog login-header">
            <a class="logo-link" href="//sendpulse.com/?lang=en" target="_blank">
                <img src="/img/sendpulse-black-logo1.png" width="175" alt="SendPulse">
            </a>
            <div class="dropdown lang-dropdown pull-right" style="display: none;">
                <a data-toggle="dropdown" class="btn btn-sm btn-outlined btn-outlined-w animate" role="button" href="#">EN <b class="caret"></b></a>
                <ul id="lang-selector" class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li role="presentation"><a role="menuitem" tabindex="-1" onclick="changeLang('ru:Русский');" href="javascript:void(0)"><img src="/img/flags/ru.gif"> RU</a></li><li role="presentation"><a role="menuitem" tabindex="-1" onclick="changeLang('ua:Українська');" href="javascript:void(0)"><img src="/img/flags/ua.gif"> UA</a></li><li role="presentation"><a role="menuitem" tabindex="-1" onclick="changeLang('pt-br:Português do Brasil');" href="javascript:void(0)"><img src="/img/flags/pt-br.gif"> PT-BR</a></li><li role="presentation"><a role="menuitem" tabindex="-1" onclick="changeLang('tr:Türkçe');" href="javascript:void(0)"><img src="/img/flags/tr.gif"> TR</a></li><li role="presentation"><a role="menuitem" tabindex="-1" onclick="changeLang('es-mx:Español para México');" href="javascript:void(0)"><img src="/img/flags/es-mx.gif"> ES-MX</a></li>                </ul>
            </div>
            <div class="clearfix">&nbsp;</div>
        </div>
        <script type="text/javascript">
            var RecaptchaOptions = {lang: 'en'};
            var social_services = '';
        </script>
        <script type="text/javascript"> //#16815
        maxmind_user_id = "111557";
        (function() {
            var loadDeviceJs = function() {
                var element = document.createElement('script');
                element.src = ('https:' == document.location.protocol ? 'https:' : 'http:')
                    + '//device.maxmind.com/js/device.js';
                document.body.appendChild(element);
            };
            if (window.addEventListener) {
                window.addEventListener('load', loadDeviceJs, false);
            } else if (window.attachEvent) {
                window.attachEvent('onload', loadDeviceJs);
            }
        })();
        </script>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h2>欢迎来到登陆页面</h2>
                    <form role="form" class="form-horizontal" action="login" method="post">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">用户名:</label>
                            <div class="col-sm-9">
                                <input type="text" value="" class="form-control" id="login" name="username" placeholder="请输入用户名">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">密&nbsp;&nbsp;  码:</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码">
                                <p>
                                    <small><a href="forgot">Forgot password?</a></small>
                                </p>
                                <div th:unless="${#strings.isEmpty(message)}" th:text="${message}">用户名或密码错误</div>
                                <div th:unless="${#strings.isEmpty(nullNameAndPassword)}" th:text="${nullNameAndPassword}">用户名或密码不能为空</div>
                                <div class="login-options">
                                    <div class="checkbox hidden">
                                        <label for="sc">
                                            <input type="checkbox" name="sc" id="sc" checked="checked"> Secure connection                                </label>
                                    </div>
                                    <div class="checkbox">
                                        <label class="small" for="rm">
                                            <input type="checkbox" name="rm" id="rm" checked="checked">  Remember me on this computer                                </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <p class="pull-left padding-top-5">
                        <em class="small light-grey">
                            Don't have an account?<a class="bold" href="toRegist">注册</a>
                        </em>
                    </p>
                    <input type="submit" name="submit" class="btn btn-green" value="登录" onclick="login()"/>
                </div>
                <input type="hidden" name="csrf_token" value="bb3088f8f3ece0f0104d1eee6cce3179">
            </div>
        </div>
        <div class="modal-dialog">
            <div class="social-signup text-center">
                <p class="social-signup-title">
                    <small>Or login with:</small>
                </p>
                <a href="https://www.facebook.com/dialog/oauth?client_id=887296668029933&amp;redirect_uri=https%3A%2F%2Flogin.sendpulse.com%2Flogin%2Fsocial%2Fprovider%2Ffacebook&amp;scope=email&amp;display=popup" class="btn btn-primary btn-social btn-fb" id="faceebook_btn">
                    <span class="social-icon icon-facebook" title="facebook"></span>&nbsp;
                    Facebook
                </a>
                <a href="https://accounts.google.com/o/oauth2/auth?client_id=813215804672-rfnk4t8lt0cn7nfi0fdv69sg3esh22jq.apps.googleusercontent.com&amp;redirect_uri=https%3A%2F%2Flogin.sendpulse.com%2Flogin%2Fsocial%2Fprovider%2Fgoogle&amp;scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile&amp;response_type=code&amp;display=popup" class="btn btn-social btn-default btn-google" id="google_btn">
                    <img src="/img/my/logo-icon-google-sub.png" alt="Google" height="16">
                    Google
                </a>
            </div>
            <p class="clearfix">&nbsp;</p>
            <div class="login-support small">
                Problems logging in? <a href="https://sendpulse.com/support/" target="_blank">Technical support</a>
            </div>
        </div>
    </div>

</div>
<script src="/js/jquery.min.js"></script>
<script src="/libs/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/my/login.js"></script>
</body>
</html>