<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body>
  <table border="1">
    <tbody>
    <tr>
        <th>姓名</th>
        <th>年龄</th>
        <th>性别</th>
        <th colspan="2">操作</th>
    </tr>
    <tr  th:each="user: ${userList}">
        <td th:text="${user.username}">Onions</td>
        <td th:text="${user.age}">Onions</td>
        <td th:text="${user.sex}">男</td>
        <td><a th:href="@{'/user/getUser?id='+${user.id}}">编辑</a></td>
        <td><a th:href="@{'javascript:del('+${user.id }+')'}">删除</a></td>
    </tr>
    </tbody>
  </table>
</body>

<script type="text/javascript">
    function del(id){
        $.get("/user/delUser?id=" + id,function(data){
            if("success" == data.result){
                alert("删除成功");
                window.location.reload();
            }else{
                alert("删除失败");
            }
        });
    }
</script>
</html>